<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS Setup</title>
    <style>
        body{
            background-color: black;
            color: white;
        }
    </style>
</head>
<body>
    <h1>We are learning EJS, My name is <%=name%> and my age is <%=age%> </h1>    

    <ul>
        <li>
            <%= products[0].name%>
        </li>
        <li>
            <%= products[1].name%>
        </li>
        <li>
            <%= products[2].name%>
        </li>
    </ul>
</body>
</html>